<section class="section">
    {{> logged-in-menu}}
    <div>
        <h1 class="title">Details of {{placemark.name}}</h1>

    </div>
    <p>Description: {{placemark.description}}</p>
    <div class="card-image">
        <p>Image:       </p>
        <figure class="image is-128x128">
            {{#each placemark.image}}
                <img src={{this}}>
            {{/each}}
        </figure>
    </div>
    <p>Latitude:    {{placemark.location.latitude}} Longitude: {{placemark.location.longitude}}</p>
    <p>Category: {{placemark.category}}</p>

    <div class="card">

        <div class="card-content">
            <div class="columns">
                <form action="/placemark/{{placemark._id}}/uploadimage" method="POST" enctype="multipart/form-data">
                    <div id="file-select" class="file has-name is-fullwidth">
                        <label class="file-label"> <input class="file-input" name="imagefile" type="file" accept="image/png, image/jpeg">
                            <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
           </span>
                            <span class="file-name"></span>
                        </label>
                        <button type="submit" class="button is-info">Upload</button>
                    </div>
                </form>
                <div class="card-footer">
                    <a href="/placemark/{{placemark._id}}/deleteimage" class="button is-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    {{#if ableToEdit}}
    <form action="/placemark/{{placemark._id}}/update" method="POST">
        <label>Edit Placemark: </label>
        <div class="field is horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">Title</label>
                    <input class="input" type="text" name="name" value="{{placemark.name}}">
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <input class="input" type="text" name="description" value="{{placemark.description}}">
                </div>
                <div class="field">
                    <label class="label">Latitude</label>
                    <input class="input" type="number" min="-90" max="90" name="latitude" value="{{placemark.location.latitude}}">
                </div>
                <div class="field">
                    <label class="label">Longitude</label>
                    <input class="input" type="number" min="-180" max="180" name="longitude" value="{{placemark.location.longitude}}">
                </div>
                <div class="field">
                    <label class="label">Category</label>
                    <div class="control">
                        <div class="select">
                            <select class="input" name="category">
                                <option>Soccer field</option>
                                <option>World wonder</option>
                                <option>River</option>
                                <option>Bridge</option>
                                <option>Town</option>
                                <option>City</option>
                                <option>Forest</option>
                                <option>Landscape feature</option>
                                <option>National monument</option>
                                <option>Walking Trail</option>
                                <option>Tree</option>
                                <option>Entertainment Venue</option>
                                <option>Island</option>
                                <option>Archaeological Feature</option>
                                <option>Others</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button class="button is-link">Edit Placemark</button>
    </form>
    {{/if}}

</section>

<script>
    const fileInput = document.querySelector(".file-input");
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector(".file-name");
            fileName.textContent = fileInput.files[0].name;
            console.log("fileName: ");
            console.log(fileName.textContent);
        }
    };
</script>

