{{#each placemarks}}
    <h2 class="name">{{name}}</h2>
    <div class="box box-link-hover-shadow columns" >

        <div class="card-image">
            <figure class="image is-128x128">
                <img src={{image}}>
            </figure>
        </div>
        <a  href="/placemark/{{_id}}" class="button">
            <i class="fas fa-folder-open"></i>
        </a>

        <a href="/dashboard/deleteplacemark/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
        </a>
        <! Important should only be visible on GroupPage>
        <a href="/group/{{../group._id}}/removePlacemark/{{_id}}" class="button">
            <i class="fas fa-folder-minus"></i>
        </a>
        <! Important  I think this can be done with Handlebars helpers, but it always says so registered helper with that name>

        {{> placemark-dropdown-options}}

    </div>
{{/each}}


